<div class="navbar">
    <div class="logo">
      <img src="../../../../assets/LOGO-fotor-bg-remover-202304251367.png" alt="Logo">
    </div>
    <button class="hamburger" (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>

    <ul class="nav-links" id="nav-links" [ngClass]="{'active': activeMenu}">
        <li><a href="#">Inicio</a></li>
        <li><a href="welcome">Bienvenida</a></li>
      <li><a href="login" *ngIf="!profile; else elseBlock" (click)="login()">Login</a></li>
        <ng-template #elseBlock>
          <a class="link-profile" routerLink="/profile">{{ profile?.name }}</a>
        </ng-template>
        <li><a  href="#" (click)="logout()">Salir</a></li>
    </ul>
  </div>
  