
*:root{
  --Azul_oscuro: #0A4D68;
  --Azul_oscuro_sec: #088395;
  --Azul_primario: #05BFDB;
  --Azul_primario_neon: #00FFCA;
  --White_Backgroud: #f8f7ee;
  --background_oscuro: #0b231e;

}
div {

  display: grid;
  height: 100vh;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header header" "nav content content";
}
div header {
  grid-area: header;
  background-color:#05BFDB;
  color: white;
  padding: 1em;
  box-shadow: 1px 2px 4px 0 #000;
  border-bottom: 1px solid rgba(21, 99, 157, 0.16);
}
hr{
  border-color: #f3f8fb;
  color: #f3f8fb;
}
div nav {
  grid-area: nav;
  border-right: 1px solid rgba(21, 99, 157, 0.16);
  background-color:#05BFDB;
}
div nav a {
  margin: 0;
  font-size: 25px;
  padding: 1em;
  cursor: pointer;
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
}
div main {
  grid-area: content;
  background-color: #f3f8fb;
  padding: 0;
}
.flex{
  display: flex;
  flex-direction: row;
}
.header button {
  background-color: #f3f8fb;
  border: none;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
}
.header button a{
  text-decoration: none;


}
