<div class="container">
  <div class="card">
    <div class="main-login">
      <img class="logo" src="../../../../assets/logo1.jpeg" alt="Logo">
      <h2 class="title-login">Registrarte</h2>
      <form #registerForm="ngForm" (ngSubmit)="registro(registerForm)">
        <div class="form-group">
          <label for="nombre" class="label">Nombre</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            ngModel
            required
            pattern="^[a-zA-Z\s]*$"
            placeholder="Escribe tu nombre"
            class="form-control"
          />
          <p class="error-message" *ngIf="nombreError"> {{ nombreError }} </p>
        </div>
        <div class="form-group">
          <label for="Email" class="label">Email</label>
          <input
            type="email"
            id="Email"
            name="Email"
            ngModel
            required
            email
            placeholder="Escribe tu correo electrónico"
            class="form-control"
          />
          <p class="error-message" *ngIf="emailError"> {{ emailError }} </p>
        </div>
        <div class="form-group">
          <label for="contraseña" class="label">Contraseña</label>
          <input
            type="password"
            id="contraseña"
            name="contraseña"
            ngModel
            required
            minlength="6"
            pattern="^(?=.*[A-Z])(?=.*\d).{6,}$"
            placeholder="Escribe tu contraseña"
            class="form-control"
          />
          <p class="password-description">
            La contraseña debe tener al menos 6 caracteres, una mayúscula y un número.
          </p>
          <p class="error-message" *ngIf="passwordError"> {{ passwordError }} </p>
        </div>
        <div class="flex">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!registerForm.valid"
          >
            Registrarse
          </button>
        </div>
      </form>
      <div class="p-login">
        <p>¿Ya tienes cuenta? <a routerLink="../login">Ingresa</a></p>
      </div>
    </div>
  </div>
</div>
