/* Estilos generales */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.title-login {
  font-size: 24px;
  color: #0099ff; /* Color principal */
  text-align: center;
  margin-bottom: 20px;
}

.registration-image {
  display: block;
  margin: 0 auto;
  max-width: 100px; /* Tamaño de la imagen */
}

/* Estilos de formulario */
.form-group {
  margin-bottom: 20px;
}

.label {
  color: #0099ff; /* Color principal */
  font-size: 16px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.password-description {
  font-size: 12px;
  color: #666;
}

/* Estilos de botón */
.btn-success {
  background-color: #0099ff; /* Color principal */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-success:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilos de enlace */
.p-login {
  text-align: center;
  margin-top: 10px;
}

.p-login a {
  color: #0099ff; /* Color principal */
  text-decoration: none;
}

.p-login a:hover {
  text-decoration: underline;
}
