/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Estilos del encabezado (nav) */
nav {
  background-color: #0099ff;
  padding: 10px 0; /* Agrega espacio arriba y abajo del nav */
  color: #fff;
  text-align: center;
  margin-bottom: 20px; /* Separación desde la parte inferior del nav */
}

/* Estilos de la grilla */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columnas responsivas */
  gap: 20px; /* Espacio entre las cards */
  padding: 20px; /* Agrega espacio alrededor de la grilla */
}

/* Estilos de la card */
.card-product {
  margin-top: 30px;
  background-color: #0099ff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease;
 
}

.card-product:hover {
  background-color: #0077cc;
}

/* Estilos de la imagen */
.img {
  display: block;
  margin: 0 auto;
  width: 100%; /* Ancho fijo al 100% del contenedor */
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Mantiene la proporción de la imagen y la ajusta al tamaño de la card */
}

/* Estilos del contenido */
.product-details {
  padding-top: 20px;
}

/* Estilos para el hipervínculo "Ver detalle" */
.detalle {
  display: inline-block;
  text-decoration: none;
  background-color: #0077cc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.detalle:hover {
  background-color: #0055aa;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .card-product {
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .category {
    font-size: 14px;
  }
}
