.products-main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.group-input {
  flex: 1;
  margin-right: 20px;
}

.nuevo {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tittle {
  text-align: center;
  background-color: #0099ff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.form-control {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-success {
  background-color: #0099ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #0077cc;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.container-table {
  flex: 1;
  margin-left: 20px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

.inicio {
  background-color: #0099ff;
  color: #fff;
}

@media (max-width: 768px) {
  .products-main {
    flex-direction: column;
    align-items: center;
  }
  .group-input {
    margin-right: 0;
    margin-top: 20px;
  }
}
