*:root{
  --Azul_oscuro: #0A4D68;
  --Azul_oscuro_sec: #088395;
  --Azul_primario: #05BFDB;
  --Azul_primario_neon: #00FFCA;
  --White_Backgroud: #f8f7ee;
  --background_oscuro: #0b231e;

}
.products-main{
  background-color: #0b231e;
  display: grid;
  grid-template-areas: 'input '
                        'table  ';
}
.group-input{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-control label{
  color: #f8f7ee;
}
.nuevo{
  grid-area: "input";
  justify-self: center;

}
.buscar{
  grid-area: "buscar";
  justify-self: center;
}
.container-table{

  margin-top: 50px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  grid-area: "table";
  width:100vh;
  height:50vh;
  overflow: scroll;


}
.tittle{
  color:#05BFDB;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;

}
.tabla{
  background-color: #66bfcd;
  border: 1 solid #000;
}
.inicio th{


  margin-bottom: 20px;
  text-align: center;
  color: #f8f7ee;
  font-size: 30px;

  background-color: #05BFDB;
}
.tabla td{
  text-align: center;
  font-size: 25px;
  text-align:center;
}
.form-control {
  text-align: center;
  font-size: 20px;
}
.form-control input{
  width: 50vh;
  background-color: #5ec0cf;
  border: none;
  border-radius: 10px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.flex{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.group-input button{
  background-color: #05BFDB;
  height: 40px;
  width: 100px;
  color: #f8f7ee;
  font-size: 20px;
  border: none;
  border-radius: 10px;

}
.group-input button:hover{
  background-color: #088395;
}
.group-input button:active{
  background-color: #00FFCA;
}




