<div class="container">
    <div class="card">
        <img class="logo" src="../../../../assets/logo1.jpeg" alt="Logo">
        <div class="main-login">
            <h2 class="title-login">Login</h2>
            <p class="parrafo">Ingresa tus credenciales para acceder</p>
            <form (ngSubmit)="login(f)" #f="ngForm">
                <div class="form-group">
                    <label for="input_name" class="row2">Email</label>
                    <input type="email" class="form-control" id="input2" name="Email" ngModel required email placeholder="Email">
                    <div *ngIf="f.controls.Email.invalid && (f.controls.Email.dirty || f.controls.Email.touched)" class="text-danger">
                        El correo electrónico es inválido.
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_description" class="row2">Contraseña</label>
                    <input type="password" class="form-control" id="input2" name="password" ngModel required minlength="6" placeholder="Contraseña">
                    <div *ngIf="f.controls.password.invalid && (f.controls.password.dirty || f.controls.password.touched)" class="text-danger">
                        La contraseña debe tener al menos 6 caracteres.
                    </div>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Ingresar</button>
                </div>
                <div *ngIf="counter > 0" class="text-danger">
                    El correo o contraseña ingresados son incorrectos.
                </div>
            </form>
            <div class="p-login">
                <p class="parrafo-login">¿No tienes cuenta? <a routerLink="../register">Regístrate</a></p>
            </div>
        </div>
    </div>
</div>
