<div class="container">
  <img class="logo-uno" src="../../../../assets/logo-sin-fondo.png" alt="">
  <img class="logo-dos" src="../../../../assets/logo-sin-fondo.png" alt="">
  <div class="main-login">
    <div class="profile" *ngIf="user">
      <h1>Mi perfil</h1>
      <p class="profile-info">Nombre: {{ user.name }}</p>
      <p class="profile-info">Email: {{ user.email }}</p>
      <p class="profile-info">Rol: {{ user.role }}</p>
      <a *ngIf="user.role === 'admin'" routerLink="/cms" class="profile-link">Sistema de gestión de contenido</a>
    </div>
  </div>
</div>
